{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-single d-flex align-items-center" style="background-image: url({% static 'img/background.png' %})">
  <div class="container text-center">
    <h1 class="display-2 mb-4" style="text-shadow: 0 0 black">Foodtruck</h1>
  </div>
</div>	<!-- Blog Section -->
<section id="blog" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title" style="color: #585858">푸드트럭</h2>
                <p class="section-sub-title" style="color: #585858">축제기간 동안 즐길 수 있는 푸드트럭 음식 종류를 안내해드려요!</p>
            </div>
            <div class="row">
                <!-- Blog -->
                <div class="col-md-12 blog-holder">
                    <div class="row">
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item">
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <a href="#"><h6><small>식사</small></h6></a>
                                    </div>
                                    <div class="blog-title">
                                        <a href="#"><h4>소고기 불초밥</h4></a>
                                    </div>
                                    <div class="blog-meta">
                                        <p class="blog-date">5.16 - 5.17</p>
                                    </div>
{#                                    <div class="blog-desc">#}
{#                                        <p></p>#}
{#                                    </div>#}
{#                                    <div class="blog-author">#}
{#                                        <p>by John Doe</p>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-item">
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <a href="#"><h6><small>식사/안주</small></h6></a>
                                    </div>
                                    <div class="blog-title">
                                        <a href="#"><h4>닭강정</h4></a>
                                    </div>
                                    <div class="blog-meta">
                                        <p class="blog-date">5.16 - 5.17</p>
{#                                        <p class="blog-comment"><a href="">23 Comments</a></p>#}
                                    </div>
{#                                    <div class="blog-desc">#}
{#                                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                                    </div>#}
{#                                    <div class="blog-author">#}
{#                                        <p>by John Doe</p>#}
{#                                    </div>#}
{#                                    <div class="blog-share-wrapper">#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-facebook-square"></i>#}
{#                                        </a>#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-twitter-square"></i>#}
{#                                        </a>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-item">
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <a href="#"><h6><small>간식/안주</small></h6></a>
                                    </div>
                                    <div class="blog-title">
                                        <a href="#"><h4>닭꼬치</h4></a>
                                    </div>
                                    <div class="blog-meta">
                                        <p class="blog-date">5.16 - 5.17</p>
{#                                        <p class="blog-comment"><a href="">23 Comments</a></p>#}
                                    </div>
{#                                    <div class="blog-desc">#}
{#                                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                                    </div>#}
{#                                    <div class="blog-author">#}
{#                                        <p>by John Doe</p>#}
{#                                    </div>#}
{#                                    <div class="blog-share-wrapper">#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-facebook-square"></i>#}
{#                                        </a>#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-twitter-square"></i>#}
{#                                        </a>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-item">
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <a href="#"><h6><small>안주</small></h6></a>
                                    </div>
                                    <div class="blog-title">
                                        <a href="#"><h4>곱창</h4></a>
                                    </div>
                                    <div class="blog-meta">
                                        <p class="blog-date">5.16 - 5.17</p>
{#                                        <p class="blog-comment"><a href="">23 Comments</a></p>#}
                                    </div>
{#                                    <div class="blog-desc">#}
{#                                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                                    </div>#}
{#                                    <div class="blog-author">#}
{#                                        <p>by John Doe</p>#}
{#                                    </div>#}
{#                                    <div class="blog-share-wrapper">#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-facebook-square"></i>#}
{#                                        </a>#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-twitter-square"></i>#}
{#                                        </a>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-item">
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <a href="#"><h6><small>간식</small></h6></a>
                                    </div>
                                    <div class="blog-title">
                                        <a href="#"><h4>타코야끼/소떡소떡</h4></a>
                                    </div>
                                    <div class="blog-meta">
                                        <p class="blog-date">5.16 - 5.17</p>
{#                                        <p class="blog-comment"><a href="">23 Comments</a></p>#}
                                    </div>
{#                                    <div class="blog-desc">#}
{#                                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                                    </div>#}
{#                                    <div class="blog-author">#}
{#                                        <p>by John Doe</p>#}
{#                                    </div>#}
{#                                    <div class="blog-share-wrapper">#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-facebook-square"></i>#}
{#                                        </a>#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-twitter-square"></i>#}
{#                                        </a>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-item">
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <a href="#"><h6><small>후식/간식</small></h6></a>
                                    </div>
                                    <div class="blog-title">
                                        <a href="#"><h4>커피차</h4></a>
                                    </div>
                                    <div class="blog-meta">
                                        <p class="blog-date">5.16 - 5.17</p>
{#                                        <p class="blog-comment"><a href="">23 Comments</a></p>#}
                                    </div>
{#                                    <div class="blog-desc">#}
{#                                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                                    </div>#}
{#                                    <div class="blog-author">#}
{#                                        <p>by John Doe</p>#}
{#                                    </div>#}
{#                                    <div class="blog-share-wrapper">#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-facebook-square"></i>#}
{#                                        </a>#}
{#                                        <a class="blog-share" href="google.com">#}
{#                                            <i class="fab fa-twitter-square"></i>#}
{#                                        </a>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                    </div>
                </div>
                <!-- End of Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section--></div>
{% endblock %}